.pricing {
  background: var(--light-grey-f);

  &__main {
    padding-top: 5rem;
  }

  &__body {
    padding: 3.75rem 1.5625rem 0 1.5625rem;
    display: grid;
    justify-content: space-between;
    gap: 50px;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  }
}

.card-pricing {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background: var(--white);
  border: 2px solid #ddd;
  border-radius: 0.625rem;
  padding: 80px 0 50px 0;

  &__top {
    display: grid;
    gap: 1.875rem;
    grid-template: 165px 1fr / minmax(145px, 1fr);

    &_image {
    }

    &_subtitle {
      text-align: center;
      font-weight: 500;
      font-size: 18px;
      line-height: 167%;
      color: var(--dark-grey);
    }
  }

  &__list {
    padding-top: 1.875rem;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;

    &_item {
      display: flex;
      align-items: center;
      gap: 1.25rem;

      & p {
        font-size: 0.875rem;
        line-height: 214%;
      }
    }
  }

  &__bottom {
    padding-top: 3.125rem;

    &_subtitle {
      padding-bottom: 1.25rem;
      text-align: center;

      & b {
        font-weight: 500;
        font-size: 1.5625rem;
        line-height: 120%;
        text-align: center;
        color: var(--dark-grey);
      }
    }

    &_button {
      width: 11.0625rem;
    }
  }
}

@media screen and (max-width: 1165px) {
  .pricing {
    &__main {
      padding-top: calc(20px + calc(80 - 20) * ((100vw - 320px) / (1165 - 320)));
    }
  }

  .card-pricing {
    padding-top: calc(20px + calc(80 - 20) * ((100vw - 320px) / (1165 - 320)));
    padding-bottom: calc(20px + calc(50 - 20) * ((100vw - 320px) / (1165 - 320)));
  }
}

@media screen and (max-width: 1024px) {
  .pricing {
    &__body {
      padding: 3.75rem 0 0 0;
      gap: 1.875rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .pricing {
    &__body {
      grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
    }
  }
}