/* import general */
@import './modules/icons';
@import './modules/fonts';
// @import '../../node_modules/swiper/swiper.scss';

/* reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
}

/* root */
:root {
  --white: #fff;
  --black: #000;
  --red: #F53838;
  --grey: #4F5665;
  --light-grey: #E5E5E5;
  --radius-50: 50px;
}

/* settings */
html {
  scroll-behavior: smooth;
  font-size: 100%;
  height: 100%;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  height: 100%;
  color: var(--black);
  background-color: var(--white);
}

.app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.app-wrapp {
  flex: 1 0 auto;
}

.main {
  height: 100%;
}

.container {
  max-width: 1165px;
  margin: 0 auto;
  padding: 0 .625rem;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

.logo {
  display: flex;
  align-items: center;
  gap: 6px;

  & img {
    width: 35px;
  }

  & p {
    font-weight: 500;
    font-size: 20px;
    color: var(--grey);

    & b {
      font-weight: 700;
    }
  }
}

.link {
  transition: opacity .3s ease, color .3s ease;

  @media (any-hover: hover) {
    &:hover {
      color: var(--red);
      opacity: .6;
    }
  }
}

.btn {
  &_transparent {
    position: relative;
    font-size: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 2.8125rem;
    border: 1px solid var(--red);
    border-radius: var(--radius-50);
    transition: .3s ease;

    &::before {
      pointer-events: none;
      position: absolute;
      content: '';
      top: 17px;
      left: 0;
      width: 100%;
      height: 100%;
      filter: blur(54px);
      background: rgba(245, 56, 56, 0.35);
      opacity: 0;
      transition: opacity .3s ease;
    }

    @media (any-hover: hover) {
      &:hover {
        background: var(--red);
        color: var(--white);

        &::before {
          opacity: 1;
        }
      }
    }
  }
}

/* IMPORT COMPONENTS */

/* header */
@import 'components/header';

/* footer */
@import 'components/footer';

/* IMPORT MODULES */

/* burger */
@import './modules/menu-hamburger';